{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="blue-line">
            <h2 class="logo-font text-blue text-center">{{ post.title }}</h2>
            <p>By: {{ post.author }}</p>
            <hr class="blue-line">
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-12">
            <div class="text-blue mt-3">
              {{ post.body }}
            </div>
        </div>
    </div>
    <div class="col-12">
        <a href="{% url 'blog' %}" class="btn btn-outline-black rounded mt-5">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Back to blogs</span>
        </a>
    </div>
</div>
{% endblock %}