html {
    height: 100%;
}

body {
    font-family: 'Noto Sans Display';
}

/*-- Logo/Heading --*/

.main-logo-link {
    width: fit-content;
}

.logo-font {
    text-transform: uppercase;
}

/*-- Buttons --*/

.shop-now-button {
    background: #FDF0D5;
    color: #1D3557;
    min-width: 160px;
    border-radius: 20px;
}

.btn-white {
    background: #1D3557;
    color: #FDF0D5;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #FDF0D5;
    color: #1D3557;
}

.border-black {
    border: 1px solid #1D3557 !important;
}

hr.blue-line {
    margin-top: 0;
    border-top: 2px solid #1D3557 !important;
    width: 90%;
}

/*-- Text Colors --*/

.text-cream {
    color: #FDF0D5 !important;
}

.text-blue {
    color: #1D3557 !important;
}

/*-- Footer --*/

.page-footer {
    margin-top: 10px;
    min-width: 100%;
}

ul{
    list-style:none;
}

.nav-bg {
    background-color: #1D3557;
}

/*-- Carousel --*/

.carousel-style img{
    height: 550px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
  
    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}