<footer class="page-footer nav-bg text-cream">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <h5>Get connected with us on social networks:</h5>
    </div>

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/" class="m-4 text-reset sm-icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.twitter.com/" class="m-4 text-reset sm-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.pinterest.com/" class="m-4 text-reset sm-icon">
        <i class="fab fa-pinterest"></i>
      </a>
      <a href="https://www.instagram.com/" class="m-4 text-reset sm-icon">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/" class="m-4 text-reset sm-icon">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Copyright -->
  <div class="text-center p-4 bg-cream">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://crafty-bear.herokuapp.com">Crafty Bear</a>
  </div>
</footer>