<footer class="page-footer">
    <div class="container-fluid text-cream nav-bg">
        <div class="row">
            <div class="col-4">
                <h5 class="text-center mt-1">Links</h5>
                <ul>
                    <li><a class="text-cream mb-2" href="#!">Home</a></li>
                    <li><a class="text-cream mb-2" href="#!">About</a></li>
                    <li><a class="text-cream mb-2" href="#!">Account</a></li>
                    <li><a class="text-cream mb-2" href="#!">Shopping</a></li>
                    <li><a class="text-cream mb-2" href="#!">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <h5 class="text-center mt-1">Follow Us On.....</h5>
                <ul>
                    <li><a class="text-cream mb-2" href="https://www.facebook.com/"><i class="fab fa-facebook m-2"></i>Facebook</a></li>
                    <li><a class="text-cream mb-2" href="https://www.instagram.com/"><i class="fab fa-instagram-square m-2"></i>Instagram</a></li>
                    <li><a class="text-cream mb-2" href="https://www.linkedin.com/"><i class="fab fa-linkedin m-2"></i>Linkedin</a></li>
                    <li><a class="text-cream mb-2" href="https://www.twitter.com/"><i class="fab fa-twitter-square m-2"></i></i>Twitter</a></li>
                    <li><a class="text-cream mb-2" href="https://www.pinterest.com/"><i class="fab fa-pinterest-square m-2"></i></i>Pinterest</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>