{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center text-blue">
            <div class="col-12 mt-5">
                <div class="py-2">
                    <hr class="blue-line">
                    <h2>Oops! A 404 error occured!</h2>
                    <hr class="blue-line">
                    <p>The page you are looking for, can't be found!</p>
                    <p>Please go back to the homepage</p>
                    <hr class="blue-line">
                    <a href="{% url 'home' %}" class="shop-now-button btn btn-lg rounded text-uppercase py-3">Back to Homepage</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}